{% extends "base.html" %}
{% block titulo %} Listado de Equipos por Contrato {% endblock %}

{% block contenido %}


<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearcontrato' %}" role="button">Nuevo Equipo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Contratos de Equipos</h4>
        <form method="GET">
            <label for="series">Filtrar por Serie:</label>
            <input type="text" id="series" name="series">
            <input type="submit" value="Filtrar">
        </form>
        

        <table class="table table-hover">
            <tr>
              <th>Serie de Equipo</th>
              <th>Ubicación</th>
              <th>Tipo de Equipo</th>
              <th>Modelo</th>
              <th>Contrato</th>
            </tr>
            {% for equipo in equipos %}
            <tr>
              <td>{{ equipo.serie }}</td>
              <td>{{ equipo.ubicacion }}</td>
              <td>{{ equipo.tipo_equipo }}</td>
              <td>{{ equipo.marca_modelo }}</td>
              <td>{{ equipo.contrato }}</td>
            </tr>
            {% endfor %}
          </table>

          <div class="pagination">
            <span class="step-links">
                {% if equipos.has_previous %} 
                    <a href="?page=1">&laquo; Primero</a>
                    <a href="?page={{ equipos.previous_page_number }}">&lsaquo; Anterior</a>
                {% endif %}
          
                <span class="current-page">
                    Página {{ equipos.number }} de {{ equipos.paginator.num_pages }}
                </span>
          
                {% if equipos.has_next %}
                    <a href="?page={{ equipos.next_page_number }}">Siguiente &rsaquo;</a>
                    <a href="?page={{ equipos.paginator.num_pages }}">Último &raquo;</a>
                {% endif %}
            </span>
          </div>
    </div>
</div>



{% endblock %}